body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    display: flex;
}

.menu-toggle {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
}

.menu-toggle.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 2px);
}

.menu-toggle.active .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -2px);
}

.sidebar {
    width: 0;
    position: fixed;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #333;
    transition: margin-left 0.3s;
}

/* Style for main content */
.content h2 {
    color: #333;
}

.content p {
    color: #555;
    line-height: 1.6;
}